<head>
    <meta name="description" content="{{ htmlWebpackPlugin.options.description }}">
    <meta name="keywords" content="Job, Listings">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta property="og:title" content="{{ htmlWebpackPlugin.options.title }}">
    <meta name="og:site_name" content="{{ htmlWebpackPlugin.options.title }}" />
    <meta property="og:description" content="{{ htmlWebpackPlugin.options.description }}">
    <meta name="robots" content="notranslate">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="utf-8">
    <meta name="theme-color" content="#fff">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900|Raleway:400,600,700&display=swap"
        rel="stylesheet">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon-32x32.png" />
</head>